<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Bello, World{% endblock title %}</title>
  <meta name="description" content="{% block description %}{% endblock description %}">

  <meta property="og:site_name" content="Bello, World">
  <meta property="og:locale" content="it_IT">
  {%- set og = 'img/belli-og.png' %}
  {%- if page.extra.slides %}{% set og = 'img/slides/' ~ page.slug ~ '/01.png' %}{% endif %}
  <meta property="og:image" content="{{ get_url(path=og) }}">
  {%- if page.extra.slides %}
  <meta property="og:image:alt" content="{{ page.extra.slides.0 | join(sep=' ') }}">
  {%- elif not page %}
  <meta property="og:image:alt" content="{{ section.extra.og | join(sep=' ') }}">
  {%- endif %}
  {%- set size = get_image_metadata(path='static/' ~ og) %}
  <meta property="og:image:width" content="{{ size.width }}">
  <meta property="og:image:height" content="{{ size.height }}">
  {%- if page %}
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ page.permalink | safe }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="article:published_time" content="{{ page.date }}">
  {%- else %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ section.permalink | safe }}">
  <meta property="og:title" content="{{ section.title }}">
  <meta property="og:description" content="{{ section.description }}">
  {%- endif %}

  <link rel="preload" href="{{ get_url(path='fonts/ibm-plex-sans-latin-400-normal.woff2') }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ get_url(path='fonts/ibm-plex-sans-condensed-latin-700-normal.woff2') }}" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="{{ get_url(path='belli.css') }}">
  <link rel="alternate" type="application/atom+xml" title="Bello, World" href="{{ get_url(path='belli/atom.xml') }}">
</head>

<body>

  {%- if page %}
  <header class="site-header">
    <a href="{{ get_url(path='@/belli/_index.md') }}">Bello, World</a>
  </header>
  {%- endif %}

  {% block above %}{% endblock above %}

  <main>
    {% block content %}{% endblock content %}
  </main>

  <footer class="site-footer">
    <p>&copy; <a href="mailto:{{ config.extra.email | safe }}">{{ config.extra.username }}</a></p>
    <p><a href="{{ get_url(path='belli/atom.xml') }}">Feed Atom</a> &middot; <a href="{{ get_url(path='/') }}">belloworld.it</a></p>
  </footer>

</body>

</html>
