{% extends "belli/base.html" %}

{% block title %}{{ section.title }}{% endblock title %}
{% block description %}{{ section.description }}{% endblock description %}

{% block above %}
<div class="belli-above">
  <h1 class="belli-h0">{{ section.title }}</h1>
  <p class="belli-manifesto">{{ section.extra.manifesto }}</p>

  <div class="belli-intro">{{ section.content | safe }}</div>
</div>
{% endblock above %}

{% block content %}
<ul class="belli-list">
  {% for page in section.pages | reverse %}{% if not page.extra.fuori %}
  <li>
    <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
    <p>{{ page.description }}</p>
  </li>
  {% endif %}{% endfor %}
  {% for page in section.pages | reverse %}{% if page.extra.fuori %}
  <li>
    <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
    <p>{{ page.description }}</p>
  </li>
  {% endif %}{% endfor %}
</ul>
{% endblock content %}
