{% extends "belli/base.html" %}

{% block title %}{{ page.title }}{% endblock title %}
{% block description %}{{ page.description }}{% endblock description %}

{% block content %}
<article>
  <h1>{{ page.title }}</h1>

  {{ page.content | safe }}
</article>

{%- if page.extra.slides %}
{%- set slides_url = get_url(path='img/slides/' ~ page.slug) %}
{%- set slide_size = get_image_metadata(path='static/img/slides/' ~ page.slug ~ '/01.png') %}
<p class="belli-carousel-note" id="carosello-nota">Le stesse cose in {{ page.extra.slides | length }} schede, la versione per i social.</p>
<div class="belli-carousel" role="group" tabindex="0"
     aria-labelledby="carosello-nota">
  {%- for slide in page.extra.slides %}
  <img src="{{ slides_url | safe }}/{% if loop.index < 10 %}0{% endif %}{{ loop.index }}.png"
       width="{{ slide_size.width }}" height="{{ slide_size.height }}" loading="lazy" decoding="async"
       alt="{% if loop.first %}Copertina{% else %}{{ slide | join(sep=' ') }}{% endif %}">
  {%- endfor %}
</div>
<script src="{{ get_url(path='js/carousel.js') }}" defer></script>
{%- endif %}

{%- if not page.extra.fuori %}
{%- set sezione = get_section(path='belli/_index.md') %}
{%- set_global passato = false %}
{%- set_global precedente = false %}
{%- set_global successivo = false %}
{%- for p in sezione.pages %}
{%- if p.slug == page.slug %}
{%- set_global passato = true %}
{%- elif not p.extra.fuori %}
{%- if not passato %}{% set_global successivo = p %}
{%- elif not precedente %}{% set_global precedente = p %}
{%- endif %}
{%- endif %}
{%- endfor %}
{%- endif %}
<p class="belli-back">
  {%- if precedente %}
  <a href="{{ precedente.permalink }}">Il <em>bello</em> precedente: {{ precedente.title }}</a><br>
  {%- endif %}
  {%- if successivo %}
  <a href="{{ successivo.permalink }}">Il <em>bello</em> successivo: {{ successivo.title }}</a><br>
  {%- endif %}
  <a href="{{ get_url(path='@/belli/_index.md') }}">Torna all'indice</a>
</p>
{% endblock content %}
