{% macro about() %}
<div class="user-details">
  <h1>About Me</h1>
  <p>Bello World is a one-man project by <a href="https://redaelli.eu/">Timothy Redaelli</a>.</p>
</div>
{% endmacro about %}

{% macro projects() %}
<div class="user-details">
  <h1>Projects</h1>
</div>
<div class="user-projects">
  <div class="contents">
    <h3>Mercurygram</h3>
    <p>An unofficial fork of the <a href="https://github.com/Telegram-FOSS-Team/Telegram-FOSS">FOSS-friendly fork</a> of <a href="https://github.com/DrKLO/Telegram">Telegram App for Android</a>.</p>
    <a class="project-link" href="https://github.com/drizzt/Mercurygram">Check it out</a>
  </div>
</div>
{% endmacro projects %}

{% macro services() %}
<div class="user-details">
  <h1>Hosted Services</h1>
</div>
<div class="user-projects">
  <div class="contents">
    <h3>AnsiaCheck</h3>
    <p>ANSIACheck is similar to ANSACheck but it works and it uses opentimestamps.</p>
    <a class="project-link" href="https://ansiacheck.belloworld.it/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="contents">
    <h3>ntfy</h3>
    <p>A simple HTTP-based pub-sub notification service. It allows you to send notifications to your phone or desktop via scripts from any computer, and/or using a REST API.</p>
    <a class="project-link" href="https://ntfy.belloworld.it/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="contents">
    <h3>ProxiTok</h3>
    <p>An alternative open source frontend for TikTok.</p>
    <a class="project-link" href="https://proxitok.belloworld.it/">Check it out</a>
  </div>
</div>
{% endmacro services %}
