{% macro about() %}
<div class="user-details">
  <h1>About Me</h1>
  <p>Bello World is a one-man project by <a href="https://redaelli.eu/">Timothy Redaelli</a>.</p>
</div>
{% endmacro about %}

{% macro projects() %}
<div class="user-details">
  <h1>Projects</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="https://github.com/drizzt/Mercurygram">
      <img width="200" src="{{ config.base_url ~ "/img/mercurygram.svg" }}">
    </a>
  </div>
  <div class="contents">
    <h3>Mercurygram</h3>
    <p>An unofficial fork of the <a href="https://github.com/Telegram-FOSS-Team/Telegram-FOSS">FOSS-friendly fork</a> of <a href="https://github.com/DrKLO/Telegram">Telegram App for Android</a>.</p>
    <a class="project-link" href="https://github.com/drizzt/Mercurygram">Check it out</a>
  </div>
</div>
{% endmacro projects %}

{% macro services() %}
<div class="user-details">
  <h1>Hosted Services</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="https://ansiacheck.belloworld.it/">
      <img width="200" src="{{ config.base_url ~ "/img/ansia-check.svg" }}">
    </a>
  </div>
  <div class="contents">
    <h3>AnsiaCheck</h3>
    <p>ANSIACheck is similar to ANSACheck but it works and it uses opentimestamps.</p>
    <a class="project-link" href="https://ansiacheck.belloworld.it/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="https://ntfy.belloworld.it/">
      <img width="200" src="{{ config.base_url ~ "/img/ntfy-outline.svg" }}">
    </a>
  </div>
  <div class="contents-right">
    <h3>ntfy</h3>
    <p>A simple HTTP-based pub-sub notification service. It allows you to send notifications to your phone or desktop via scripts from any computer, and/or using a REST API.</p>
    <a class="project-link" href="https://ntfy.belloworld.it/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="https://redlib.belloworld.it/">
      <img width="200" src="{{ config.base_url ~ "/img/redlib.webp" }}">
    </a>
  </div>
  <div class="contents">
    <h3>Redlib</h3>
    <p>An alternative private front-end to Reddit, with its origins in <a href="https://github.com/libreddit/libreddit">Libreddit</a>.</p>
    <a class="project-link" href="https://redlib.belloworld.it/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="https://mollysocket.belloworld.it/">
      <img width="200" src="{{ config.base_url ~ "/img/mollysocket.webp" }}">
    </a>
  </div>
  <div class="contents-right">
    <h3>MollySocket</h3>
    <p>MollySocket allows getting signal notifications via UnifiedPush. It works like a linked device, which doesn't have an encryption key, connected to the Signal server.<br>Everytime it receives an encrypted event, it notifies your mobile via UnifiedPush.</a>.</p>
    <p>To use that, you need to install <a href="https://molly.im/">Molly</a>, then in <b>Options</b> -&gt; <b>Notifications</b> you have to set <b>UnifiedPush</b> as <b>Delivery Method</b> and
    <code>https://mollysocket.belloworld.it/</code> as <b>Server URL</b>.</p>
    <a class="project-link" href="https://mollysocket.belloworld.it/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="tg://proxy?server=144.24.179.104&port=8443&secret=7om39BDFPEAoZN1iwuQ8NPNvcmFjbGUuY29t">
      <img width="200" src="{{ config.base_url ~ "/img/mtproxy.webp" }}">
    </a>
  </div>
  <div class="contents">
    <h3>MTProxy</h3>
    <p>MTProto Proxy for Telegram</p>
    <a class="project-link" href="tg://proxy?server=144.24.179.104&port=8443&secret=7om39BDFPEAoZN1iwuQ8NPNvcmFjbGUuY29t">Check it out</a>
  </div>
</div>

{% endmacro services %}

{% macro talks() %}
<div class="user-details">
  <h1>Talks</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="https://video.linux.it/w/5WbbgNfYfQUdvVgSmRPQoE">
      <img src="{{ config.base_url ~ "/img/linuxdaymilano2024-ostree.webp" }}">
    </a>
  </div>
  <div class="contents">
    <h3>OSTree for fun and profit</h3>
    <h4>Linux Day Milano 2024</h4>
    <p>Spiegazione di OStree con due demo:</p>
    <p>La prima riguardante i comandi di base di ostree e rpm-ostree e switch da Fedora Kinoite a Fedora Silverblue.</p>
    <p>La seconda riguardante toolbox e compilazione moduli del kernel (v4l2loopback).</p>
    <a class="project-link" href="https://video.linux.it/w/5WbbgNfYfQUdvVgSmRPQoE">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="https://github.com/unixMiB/events/blob/master/Linux%20Day%20Milano%202022/Timestamping%20con%20opentimestamps%20-%20Timothy%20Redaelli%20-%20FSFE.pdf">
      <img src="{{ config.base_url ~ "/img/linuxdaymilano2022-opentimestamps.webp" }}">
    </a>
  </div>
  <div class="contents-right">
    <h3>Timestamping con opentimestamps</h3>
    <h4>Linux Day Milano 2022</h4>
    <p>Spiegazione generale di cos'è il timestamping, come si effettua con opentimestamp e perché è utile.</p>
    <a class="project-link" href="https://github.com/unixMiB/events/blob/master/Linux%20Day%20Milano%202022/Timestamping%20con%20opentimestamps%20-%20Timothy%20Redaelli%20-%20FSFE.pdf">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="https://fosdem.org/2024/schedule/event/fosdem-2024-3661-timestamping-with-opentimestamps/">
      <img src="{{ config.base_url ~ "/img/fosdem2024-opentimestamps.webp" }}">
      <img class="hover-image" src="{{ config.base_url ~ "/img/fosdem2024-opentimestamps_hover.webp" }}">
    </a>
  </div>
  <div class="contents">
    <h3>Timestamping with opentimestamps</h3>
    <h4>FOSDEM 2024</h4>
    <p>This talk was about timestamping, blockchain, opentimestamps and proofmode.</p>
    <a class="project-link" href="https://fosdem.org/2024/schedule/event/fosdem-2024-3661-timestamping-with-opentimestamps/">Check it out</a>
  </div>
</div>
{% endmacro talks %}
